@import url(style/main.css);
.dashboard-container {
  font-family: 'lato-regular';
  margin: 5px; }
  .dashboard-container .counters {
    justify-content: center;
    display: flex; }
  .dashboard-container .cards {
    justify-content: center;
    display: flex; }
  .dashboard-container .authors-list {
    overflow-y: scroll;
    height: 500px; }
  .dashboard-container table {
    width: 100%;
    border-collapse: collapse; }
    .dashboard-container table td {
      padding: 10px;
      font-family: 'lato-regular'; }
    .dashboard-container table td.count {
      font-family: 'lato-bold';
      font-weight: bold; }
    .dashboard-container table th {
      text-align: left;
      padding: 10px;
      font-family: 'lato-bold'; }
  .dashboard-container tbody tr {
    border-top: 1px solid #e6eaee;
    font-family: roboto-regular; }
