@import 'style/main.css';

.dashboard-container {
  font-family: 'lato-regular';
  margin: 5px;
  .counters {
    justify-content: center;
    display: flex;
  }
  .cards {
    justify-content: center;
    display: flex;
  }
  .authors-list {
    overflow-y: scroll;
    height: 500px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    td {
      padding: 10px;
      font-family: 'lato-regular'
    }
    td.count {
      font-family: 'lato-bold';
      font-weight: bold;
    }
    th {
      text-align: left;
      padding: 10px;
      font-family: 'lato-bold';
    }
  }
  tbody {
    tr { 
      border-top: 1px solid #e6eaee;
      font-family: roboto-regular;
    }
  }
}
