.header {
  width: 1440px;
  height: 75px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(203, 191, 211, 0.1); }
  .header .git-scene-logo {
    width: 100px;
    background-image: -o-linear-gradient(168deg, #654080, #46477f);
    padding: 25px;
    color: black;
    font-size: 22px; }
