@import '../../style/main.css';
.card-container {
  font-family: lato-regular;
  display: block;
  margin: 10px;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0 rgba(124, 106, 132, 0.05);
  background-color: #ffffff;
  border: solid 1px #e6eaee;
  
  .title {
    font-family: lato-bold;
    padding: 10px 0px 0px 25px;
    height: 24px;
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: #2a3950;
  }
  .card-body {
    font-family: lato-regular;
    padding: 20px; 
  }
  
  .content {
    font-family: lato-regular;
    font-size: 36px;
    text-align: center;
    color: #2a3950;
  }
}

