@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'lato-regular';
  src: url("/fonts/Lato-Regular.ttf"); }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'lato-bold';
  src: url("/fonts/Lato-Bold.ttf"); }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'lato-light';
  src: url("/fonts/Lato-Light.ttf"); }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'lato-medium';
  src: url("/fonts/Lato-Medium.ttf"); }

body {
  font-family: 'lato-regular';
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden; }

.size-md {
  width: 50%; }

.size-lg {
  width: 65%; }

.size-sm {
  width: 35%; }
