@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'roboto-regular';
  src: url("/fonts/Roboto-Regular.ttf"); }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'roboto-light';
  src: url("/fonts/Roboto-Light.ttf"); }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'roboto-medium';
  src: url("/fonts/Roboto-Medium.ttf"); }

body {
  font-family: 'roboto-light', serif;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden; }
